{% extends 'mailing/base.html' %}

{% load static %}
{% load mailing_tags %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/my_style.css' %}">

<div class="text-center container py-3">
    <div class="row py-3">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Mailing service</h1>
            <p class="lead text-body-secondary">Управление вашими рассылками</p>
            <p class="py-1 text-body-secondary">Авторизируйтесь для начала работы</p>
            <p>
                <a href="{% url 'mailing:mailing_list' %}" class="btn btn-success my-1 w-75">Мои рассылки</a>
            </p>
            <p>
                {% if user.is_superuser or not user|has_group:"Managers" %}
                <a href="{% url 'mailing:client_list' %}" class="btn btn-success my-1 w-75">Мои клиенты</a>
                {% endif %}
            </p>
            {% if user.is_superuser or user|has_group:"Managers" %}
            <p>
                <a href="{% url 'users:block_user' %}" class="btn btn-danger my-1 w-75">Список пользователей</a>
            </p>
            {% endif %}
        </div>
    </div>
</div>

<div class="text-center container py-3">
    <div class="row py-2">
        <div class="col-md-4 col-sm-12 mb-2">
            <div class="card card-custom py-3">
                <div class="card-body">
                    <p class="card-text">Количество рассылок: {{ object_list.count }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 mb-2">
            <div class="card card-custom py-3">
                <div class="card-body">
                    <p class="card-text">Количество активных рассылок: {{ active_mailings.count }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 mb-2">
            <div class="card card-custom py-3">
                <div class="card-body">
                    <p class="card-text">Количество уникальных клиентов: {{ clients_list.count }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center container py-3">
    <h1 class="jumbotron-heading">Создайте свою эффективную рассылку с нами!</h1>
    <p>Просто, быстро и надежно. Начните сегодня и убедитесь в преимуществах нашего сервиса.</p>
    {% if user.is_superuser or not user|has_group:"Managers" %}
    <a href="{% url 'mailing:mailing_form' %}"
       class="btn btn-success my-2 w-25 mt-3 mx-auto d-block d-flex justify-content-center align-items-center">
        Создать рассылку
    </a>
    {% endif %}
</div>

<div class="text-center container py-3">
    <div class="row py-3">
        {% for post in blog_posts %}
        <div class="col-md-4 col-sm-12 mb-2">
            <div class="card card-custom py-3">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <a href="{% url 'blog:blogpost_detail' post.pk %}" class="btn btn-secondary">Читать</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
