{% extends "mailing/base.html" %}
{% load static widget_tweaks %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.min.css' %}">
<style>
    .detail-item {
        padding: 15px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .detail-title {
        font-weight: bold;
    }
    .recipient-list li {
        margin: 5px 0;
    }
    .recipients-container {
        max-height: 250px;
        overflow-y: auto;
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 5px;
    }
</style>

<div class="container">
    <h4 class="mb-4">Редактирование настроек рассылки</h4>

    {{ form.errors }}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">
            <!-- Левая колонка -->
            <div class="col-md-6">
                <div class="detail-item">
                    <div class="detail-title">Получатели:</div>
                    <div class="recipients-container">
                        <input type="checkbox" id="select_all"/> Выбрать всех<br>
                        {{ form.recipients|add_class:"recipient-checkbox" }}
                        {% if form.recipients.errors %}
                        <div class="errors">
                            {{ form.recipients.errors }}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{ form.time.id_for_label }}">Время рассылки</label>
                    {{ form.time }}
                </div>

                <div class="detail-item">
                    <div class="detail-title">Периодичность:</div>
                    <div>
                        {{ form.periodicity }}
                    </div>
                </div>
                <div class="detail-item">
                    <div class="detail-title">Статус:</div>
                    <div>
                        {{ form.status }}
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" value="Сохранить изменения" class="btn btn-primary mt-4">
        {% if object.messages.first %}
        <a href="{% url 'mailing:mailing_message_update' object.messages.first.pk %}" class="btn btn-secondary mt-4">Редактировать
            сообщение</a>
        {% else %}
        <a href="{% url 'mailing:mailing_message_create' object.pk %}" class="btn btn-secondary mt-4">Создать
            сообщение</a>
        {% endif %}
    </form>

    <!-- JavaScript для функционала "Выбрать всех" -->
    <script>
        document.getElementById('select_all').addEventListener('click', function() {
            var options = document.querySelectorAll('#id_recipients option');
            for (var option of options) {
                option.selected = this.checked;
            }
        });
    </script>
</div>
{% endblock %}

{% block extra_scripts %}
{{ form.media }}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
{% endblock %}
