{% extends 'mailing/base.html' %}
{% load blog_tags %}
{% block content %}
<header class="text-center mt-3"><h2>Мы пишем:</h2></header>
<div class="row">
    {% if perms.blog.add_blog %}
    <div class="col-12 text-center">
        <a href="{% url 'blog:blogpost_form' %}" class="btn btn-lg btn-primary w-25 mt-4">Создать блог</a>
    </div>
    {% endif %}
    {% for object in object_list %}
    <div class="col-4 pt-3">
        <div class="card h-100 d-flex flex-column">
            <div class="card-header text-center m-2">
                <h4>{{ object.title }}</h4>
            </div>
            <div class="card-img text-center" style="height: 200px; overflow: hidden;">
                <img src="{{ object.image|mediapath }}" alt="Изображение блога"
                     style="max-height: 100%; max-width: 100%;">
            </div>
            <div class="card-body flex-grow-1">
                <p class="card-text mt-2">{{ object.content|truncatewords:15 }}</p>
            </div>
            <div class="card-footer">
               <a href="{% url 'blog:blogpost_detail' object.pk %}" class="btn btn-secondary">Читать далее</a>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-12 text-center">
        <p>Нет статей для отображения.</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
